<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Polly English Teacher{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <header class="site-header">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="message {{ message.tags }}">
                    {{ message }}
                </div>
                    {% endfor %}
                </div>
                {% endif %}
        <div class="container nav-container">
            <div class="logo">Polly English Teacher</div>

            <nav class="nav">
                <a href="{% url 'home' %}">Главная</a>
                <a href="{% url 'about' %}">Обо мне</a>
                <a href="{% url 'life' %}">Моя жизнь</a>
                <a href="{% url 'contacts' %}">Контакты</a>

                {% if user.is_authenticated %}
                    <form action="{% url 'logout' %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="nav-link-button">Выйти</button>
                    </form>
                    <a href="#">Личный кабинет</a>
                {% else %}
                    <a href="{% url 'login' %}">Вход</a>
                    <a href="{% url 'register' %}">Регистрация</a>
                {% endif %} 
            </nav>

        </div>
    </header>

    <main class="content">
        {% block content %}{% endblock %}
    </main>

    <footer class="site-footer">
        <div class="container">
            © {% now "Y" %} Polly English Teacher. Все права защищены.
        </div>
    </footer>
</body>
</html>
